go 1.23

use (
    ./core
    ./log
    ./db
    ./mq
    ./cache
    ./middleware
    ./contrib/config/viper
    ./contrib/log/zerolog
    ./contrib/log/zap
    ./contrib/db/mysql
    ./contrib/db/postgres
    ./contrib/db/sqlite
    ./contrib/mq/kafka
    ./contrib/mq/nats
    ./contrib/cache/redis
    ./examples
)
