go 1.23

use (
	./cache
	./contrib/cache/redis
	./contrib/config/viper
	./contrib/db/mysql
	./contrib/db/postgres
	./contrib/db/sqlite
	./contrib/log/zap
	./contrib/log/zerolog
	./contrib/mq/kafka
	./contrib/mq/nats
	./core
	./db
	./examples
	./log
	./middleware
	./mq
)
